@import "tailwindcss";

.dark {
    background-color: oklch(20.8% 0.042 265.755);
    color: white;
}

body {
    transition: background-color 0.5s, color 0.7s;
    font-family: 'Times New Roman', Times, serif;
}